<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meblowisko</title>
    <link rel="stylesheet" href="/content.css">
    <link rel="stylesheet" href="/common-controls.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="filter-form" class="common-form">
    <form method="post" action="/filter">
        <input type="text" placeholder="filtruj" name="filter" class="text-input" th:value="${filter}">
        <input type="submit" value="Szukaj" class="form-submit">
    </form>
</div>

<div id="content">
    <th:block th:each="product : ${products}">
        <div class="product">
            <div id="product-row">
                <img th:src="'/' + ${product.code} + '.png'" th:alt=${product.name} id="product-foto">
                <p th:text="${product.name}" class="product-name"></p>
            </div>
            <div class="product-info">
                <span th:text="'Ilość: ' + ${product.pieces}"></span>
                <span th:text="'Kod: ' + ${product.code}"></span>
                <span th:text="'Cena: ' + ${product.price}"></span>
                <a th:if="${product.pieces > 0}" th:href="@{/addToBasket/{id}(id=${product.id})}" class="buy"></a>
                <a th:if="${product.pieces <= 0}" th:href="@{/addToBasket/{id}(id=${product.id})}" class="buy-blocked"></a>
                <a th:if="${user.role.name() == 'ADMIN'}"
                   th:href="@{/editProduct/{id}(id=${product.id})}" class="edit"></a>
                <a th:if="${user.role.name() == 'ADMIN'}"
                   th:href="@{/deleteProduct/{id}(id=${product.id})}" class="delete"></a>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>