<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meblowisko</title>
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/common-controls.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<form method="post" id="register-form" class="common-form">
    <div th:if="${info != null}" th:text="${info}" id="info"></div>
    <input type="text" placeholder="Imie" class="text-input" th:field="${registerModel.name}">
    <input type="text" placeholder="Nazwisko" class="text-input" th:field="${registerModel.surname}">
    <input type="text" placeholder="Login" class="text-input" th:field="${registerModel.login}">
    <input type="password" placeholder="Hasło" class="text-input" th:field="${registerModel.pass}">
    <input type="password" placeholder="Powtórz hasło" class="text-input" th:field="${registerModel.repeatedPass}">
    <input type="submit" value="Zarejestruj" class="form-submit">
</form>
</body>
</html>